---
interface Props {
    id: string;
    img: string;
    success: boolean;
    flightNumber: number;
    details: string | null;
}

const { id, img, success, flightNumber, details } = Astro.props;
const successText = success ? "Éxito" : "Fracaso";
---

<!--
<a
    href={`/launch/${id}`}
    class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col"
>
    <picture class="flex justify-center p-4">
        <img class="mb-5 rounder-lg" src={img} alt={`Patch for launch ${id}`} />
    </picture>

    <header class="p-4 flex-grow">
        <span
            class:list={[
                "text-xs font-semibold mr-2 px-2.5 py-0.5 rounded",
                {
                    "bg-green-400 text-green-900": success,
                    "bg-red-400 text-red-900": !success,
                },
            ]}
        >
            {successText}
        </span>

        <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
            Flight #{flightNumber}
        </h2>

        <p class="mb-4 font-light text-gray-400">
            {
                details != null && details?.length > 100
                    ? details.slice(0, 100) + " ..."
                    : details
            }
        </p>
    </header>
</a>-->

<div class="max-w-sm w-full lg:max-w-full lg:flex">
    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-l-2xl text-center overflow-hidden" style="background-image: url('/src/assets/ramen.jpg')" title="Ramen Bowl">
    </div>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-r-2xl p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2">Random Ramen Place</div>
            <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#ramen</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#osaka</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#cheap</span>
        </div>
    </div>
</div>
