---
import { db, Place } from "astro:db";
import PlaceCard from "./PlaceCard.astro";

const places = await db.select().from(Place);
---

<div class="grid gap-8 sm:grid-cols-1 lg:grid-cols-1">
    {
        places.map((place) => (
            <PlaceCard
                id = {place.id},
                name = {place.name},
                nameRoman = {place.nameRoman},
                rating = {place.rating},
                review = {place.review},
                image = {place.image},
                website = {place.website},
                address = {place.address},
                gmaps = {place.gmaps},
                city = {place.city},
                state = {place.state},
                country = {place.country},
                tags = {place.tags},
                video = {place.video},
                needsReserve = {place.needsReserve}
            />
        ))
    }
</div>
